page-login {
    
ion-title{
    color: white;
    text-align: center;
}
.logo-container{
    
    text-align: center;
    img{
        width:30%;
        height:30%;
       }
}
.b1{
    
       
    text-decoration: underline;}



    

}